fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
minio
httpx
pydantic
python-dotenv
python-multipart
redis
python-jose[cryptography]
passlib[bcrypt]
email-validator
pytest
pytest-asyncio 
psycopg2-binary
aiofiles
PyJWT
